In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv(r"D:\Python_Workspace\Datasets\kaggle_spaceship-titanic\train.csv")

In [3]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df['CryoSleep']

0       False
1       False
2       False
3       False
4       False
        ...
8688    False
8689     True
8690    False
8691    False
8692    False
Name: CryoSleep, Length: 8693, dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

## Pandas Profiling For EDA

#### Run the below code for EDA - Commented due to Github Visibility issue

In [44]:
# profile = ProfileReport(df)
# profile.to_notebook_iframe()

In [6]:
# To see Null Rows to see if we can drop them
df[df.isna().any(axis=1)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,Altardr Flatic,True
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,Flats Eccle,False
23,0020_03,Earth,True,E/0/S,55 Cancri e,29.0,False,0.0,0.0,NaN,0.0,0.0,Mollen Mcfaddennon,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8667,9250_01,Europa,False,E/597/P,TRAPPIST-1e,29.0,False,0.0,2972.0,NaN,28.0,188.0,Chain Reedectied,True
8674,9257_01,NaN,False,F/1892/P,TRAPPIST-1e,13.0,False,39.0,0.0,1085.0,24.0,0.0,Ties Apple,False
8675,9259_01,Earth,NaN,F/1893/P,TRAPPIST-1e,44.0,False,1030.0,1015.0,0.0,11.0,NaN,Annah Gilleyons,True
8684,9274_01,NaN,True,G/1508/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,True
8687,9275_03,Europa,NaN,A/97/P,TRAPPIST-1e,30.0,False,0.0,3208.0,0.0,2.0,330.0,Atlasym Conable,True

In [7]:
def split_cabin(x):
    if len(str(x).split('/'))<3:
        return ['Missing','Missing','Missing']
        
    else:
        return str(x).split('/')

In [9]:
# Splitting Cabin into Deck and Side Columns

# df["Cabin"] = df['Cabin'].apply(lambda x : split_cabin(x))
# df[df["Cabin"].isna()]
# df.head()

In [10]:
# df['Deck'] = df["Cabin"].apply(lambda x : x[0])
# df['Side'] = df["Cabin"].apply(lambda x : x[2])

In [8]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

### Based on the pandas Profiling

In [9]:
# A preprocessing function to transform our dataset - prepare data - fillna

def preprocessing(df):
    # Fill missing values in HomePlanet
    df['HomePlanet'].fillna('Missing', inplace=True)
    # CryoSleep Highly correlated with target
    df['CryoSleep'].fillna('Missing',inplace=True)
    # Cabin preprocessing - extract Deck and Side
    df["Cabin"] = df['Cabin'].apply(lambda x : split_cabin(x))
    df['Deck'] = df["Cabin"].apply(lambda x : x[0])
    df['Side'] = df["Cabin"].apply(lambda x : x[2])
    df.drop('Cabin',axis=1, inplace=True)
    # Destination
    df['Destination'].fillna('Missing', inplace=True)
    # Age
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    # VIP 
    df['VIP'].fillna("Missing",inplace=True)
    # Monetory spending
    df['RoomService'].fillna(0, inplace=True)
    df['FoodCourt'].fillna(0, inplace=True)
    df['ShoppingMall'].fillna(0, inplace=True)
    df['Spa'].fillna(0, inplace=True)
    df['VRDeck'].fillna(0, inplace=True)
    # Drop name due to high cardinality
    df.drop('Name', axis=1, inplace=True)
    
    # Drop na
    # df.dropna(inplace=True)

In [10]:
# pp.ProfileReport??

In [11]:
copy_df = df.copy()

In [12]:
copy_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [13]:
preprocessing(copy_df)

In [14]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   object
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Transported   8693 non-null   bool
 12  Deck          8693 non-null   object
 13  Side          8693 non-null   object
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

# Modelling
- Feature and Target values - X,y
- One hot encode any categorical features
- Train Test Split
- Train on a bunch of algos

In [15]:
copy_df.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,S

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [17]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   object
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Transported   8693 non-null   bool
 12  Deck          8693 non-null   object
 13  Side          8693 non-null   object
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [18]:
# Create feature columns
# Drop identofier column
X = copy_df.drop(['Transported','PassengerId'], axis=1)
X = pd.get_dummies(X)
# Create Target column
y = copy_df['Transported']

In [19]:
# Create training and testing partitions
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [20]:
X_train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Missing,...,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Missing,Deck_T,Side_Missing,Side_P,Side_S
7207,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8045,26.0,0.0,226.0,0.0,436.0,4051.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
5932,57.0,0.0,1409.0,29.0,0.0,0.0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3967,47.0,0.0,4983.0,0.0,173.0,43.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
732,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6137,35.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
664,23.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
7540,39.0,1369.0,259.0,960.0,1.0,29.0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
7221,19.0,0.0,28.0,62.0,24.0,1686.0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1318,39.0,386.0,190.0,0.0,489.0,0.0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

# Creating machine learning pipelines

In [22]:


pipelines={
    'rf': make_pipeline(StandardScaler(),RandomForestClassifier(random_state=1234)),
    'gb':make_pipeline(StandardScaler(),GradientBoostingClassifier(random_state=1234))
    
    
}

In [23]:
RandomForestClassifier().get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [24]:
grid={
    'rf':{
        'randomforestclassifier__n_estimators':[100,200,300]
    },
    'gb':{
        'gradientboostingclassifier__n_estimators':[100,200,300]
    }
   
    
    }

In [25]:
# Create a blank dict to hold the models
fit_models={}
# Loop through all the algos
for algo,pipeline in pipelines.items():
    print(f'Training the {algo} model')
    # Create new Grid Search CV Classs
    model = GridSearchCV(pipeline, grid[algo], n_jobs=-1, cv=10)
    # Train the models
    model.fit(X_train,y_train)
    # Store results inside the dictionary
    fit_models[algo] = model

Training the rf model
Training the gb model

In [26]:
fit_models

{'rf': GridSearchCV(cv=10,
              estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                        ('randomforestclassifier',
                                         RandomForestClassifier(random_state=1234))]),
              n_jobs=-1,
              param_grid={'randomforestclassifier__n_estimators': [100, 200,
                                                                   300]}),
 'gb': GridSearchCV(cv=10,
              estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                        ('gradientboostingclassifier',
                                         GradientBoostingClassifier(random_state=1234))]),
              n_jobs=-1,
              param_grid={'gradientboostingclassifier__n_estimators': [100, 200,
                                                                       300]})}

# Evaluate performance on Test Partition
- Grab the testing data from the test.csv and evaluate on that

In [27]:
from sklearn.metrics import accuracy_score,precision_score,recall_score

In [28]:
# Evaluate the performance of the model
for algo,model in fit_models.items():
    yhat = model.predict(X_test)
    accuracy = accuracy_score(y_test,yhat)
    precision = precision_score(y_test,yhat)
    recall = recall_score(y_test,yhat)
    print(f'Metric for {algo}: accuracy={accuracy},recall={recall},precision={precision}')

Metric for rf: accuracy=0.7910276073619632,recall=0.7646604938271605,precision=0.8050365556458164
Metric for gb: accuracy=0.8075153374233128,recall=0.8479938271604939,precision=0.7827635327635327

# Save best Model

In [29]:
import pickle

In [30]:
with open('gradientboosted.pkl','wb') as f:
    pickle.dump(fit_models['gb'],f)

In [31]:
with open('gradientboosted.pkl','rb') as f:
    reloaded_model = pickle.load(f)

In [32]:
reloaded_model

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('gradientboostingclassifier',
                                        GradientBoostingClassifier(random_state=1234))]),
             n_jobs=-1,
             param_grid={'gradientboostingclassifier__n_estimators': [100, 200,
                                                                      300]})

In [33]:
# Reading the test.csv
test_df = pd.read_csv(r"D:\Python_Workspace\Projects\SpaceshipTitanicStream\test.csv")

In [34]:
# Deep Copy
abt_test = test_df.copy()
# Run through preprocessing pipeline
preprocessing(abt_test)
# One hot encode categorical variables

abt_test = pd.get_dummies(abt_test.drop('PassengerId',axis=1))

In [35]:
abt_test

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Missing,...,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Missing,Deck_T,Side_Missing,Side_P,Side_S
0,27.000000,0.0,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,19.000000,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,31.000000,0.0,0.0,0.0,0.0,0.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,38.000000,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4,20.000000,10.0,0.0,635.0,0.0,0.0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,34.000000,0.0,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4273,42.000000,0.0,847.0,17.0,10.0,144.0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4274,28.658146,0.0,0.0,0.0,0.0,0.0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4275,28.658146,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4276,43.000000,0.0,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [36]:
len(abt_test.columns)

32

In [37]:
len(X.columns)

32

In [38]:
X.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Missing,...,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_Missing,Deck_T,Side_Missing,Side_P,Side_S
0,39.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,24.0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,16.0,303.0,70.0,151.0,565.0,2.0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [39]:
yhat_test = fit_models['gb'].predict(abt_test)

In [40]:
submission = pd.DataFrame([test_df['PassengerId'],yhat_test]).T

In [41]:
submission.columns = ['PassengerId',"Transported"]

In [42]:
submission.set_index('PassengerId')

            Transported
PassengerId
0013_01            True
0018_01           False
0019_01            True
0021_01            True
0023_01            True
...                 ...
9266_02            True
9269_01           False
9271_01            True
9273_01            True
9277_01            True

[4277 rows x 1 columns]

In [43]:
submission.to_csv('Submission_Kaggle_Spaceship_Titanic')